@import "reset";
// @import "grid";

body {
  background-color: rgb(228, 233, 242) !important;
  font-size: 16px;
  font-family: basic-sans, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  height: 100%;
}

h4 {
  font-size: 1.2em !important;
  text-transform: uppercase;
}

.logo {
  font-weight: 700 !important;
  font-size: 1.5em !important;
  text-transform: uppercase;
}

.navigation {
  font-weight: 400;
}

.navigation:hover {
  background-color: rgba(50, 120, 185, .1);
}

#main-container {
  height: 80vh;
}

// test classes
.test-black {
  border-width: thin;
  border-style: dotted;
  border-color: black;
}

.test-red {
  border-width: thin;
  border-style: dotted;
  border-color: red;
}
